<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>game</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Germania+One&family=MedievalSharp&display=swap" rel="stylesheet">
</head>
<body>
    <button class="collect" id="increaseItems" onclick="incrementButton()">Click me!</button>
    <dl>
        <li><p>Strawberries: <b id="incrementStraw">0</b></p></li>
        <li><p>Raspberries: <b id="incrementRasp">0</b></p></li>
        <li><p>Grapes: <b id="incrementGrape">0</b></p></li>
        <li><p>Blackberries: <b id="incrementBlack">0</b></p></li>
        <li><p>Swords: <b id="incrementSword">0</b></p></li>
    </dl>
    <h2 class="Money">Coins: <b class="Money" id="valueCoin">0</b></h2>
    <button class="action" id="inventory" onclick="showInv()">Inventory</button>
    <button class="action" id='sell'>Sell:</button>
    <select class="action" id="selectSell">
        <option value="strawSell">Strawbies</option>
        <option value='raspSell'>Raspies</option>
        <option value='grapeSell'>Grapes</option>
        <option value='blackSell'>Blackies</option>
    </select>
    <button title="Select needed item and click this btn to buy" class="action" id='Shop' >Shop</button>
    <select title="Select needed item and click 'Shop' btn to buy" name="shop" id="selectShop">
        <option value="raspShop">Raspberry</option>
        <option value="grapeShop">Grape</option>
        <option value="blackShop">Blackberry</option>
        <option value="sword">Sword</option>
    </select>
    <script src="static/gameCode.js"></script>
</body>
</html>
<!-- --> 
